@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #000000;
    color: #F2F0EF
}

/* Header */
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 8rem;
}

/* Logo */
.logo {
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 600;
}

/* Navigation menu */
.navmenu {
    display: flex;
}

.navmenu a {
    display: inline-block;
    position: relative; 
    margin: 0 1.5rem;
    color: #ffffff;
    font-weight: 500;
    transition: transform 0.65s, color 0.65s;
    font-size: 1rem;
}

.navmenu a:hover {
    transform: translateY(-5px);
    color: gold;
}

.navmenu a:active {
    color: orangered;
    transition: none;
}

/* Home section */
.home {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 2rem 5rem 0 10rem;
    gap: 1rem;
}

/* Home text */
.home-text h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-family: "Bungee Spice", sans-serif;
    animation: slideDown 1.1s ease forwards;
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);     
    }
}

/* Home text h3 */
.home-text h3 {
    position: relative;
    padding-left: 6rem;
    font-weight: 500;
    margin-bottom: 1rem;
    animation: slideDown 1.1s ease forwards;
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);     
    }
}

/* Decorative line before h3 */
.home-text h3::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 2px;
    background-color: #ffffff;
    left: 0;
    top: 1rem;
    
}

/* Home paragraph */
.home-text p {
    margin-bottom: 2rem;
    animation: slideUp 1.1s ease forwards;
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(10px); 
    }
    100% {
        opacity: 1;
        transform: translateY(0);   
    }
}

.home-btn {
    animation: slideUp 1.1s ease forwards; 
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(10px); 
    }
    100% {
        opacity: 1;
        transform: translateY(0);   
    }
}

/* Buttons */
.btn {
    display: inline-block;
    padding: 0;            
    border: none;          
    background: none;      
    cursor: pointer;
    font-size: 2rem;       
    color: #ffffff;       
    margin-right: 1rem;    
    transition: transform 0.3s;
}


.btn:hover {
    transform: rotate(-10deg) translateY(-5px);
}

#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

/* About page */

.aboutme {
    text-align: center;
    position: relative;
    margin-top: 8rem;
    font-family: "Bungee Spice", sans-serif;
    animation: slideUp 1.1s ease forwards;
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(10px); 
    }
    100% {
        opacity: 1;
        transform: translateY(0);   
    }
}


.profile {
    display: flex;
    align-items: center;      
    gap: 20px;                
    padding: 20px;
    background: #111;         
    border-radius: 10px;
    max-width: 800px;         
    margin: 3.5rem auto;
    animation: slideUp 1.5s ease forwards;             
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(10px); 
    }
    100% {
        opacity: 1;
        transform: translateY(0);   
    }
}

.profile-image {
    width: 150px;             
    height: 220px;            
    overflow: hidden;
    border-radius: 10px;      
    flex-shrink: 0;           
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;        
    display: block;
}

.profile-info h2 {
    margin-bottom: 0.625rem;
    color:#F2F0EF;
    
}

.profile-info p {
    color:#F2F0EF;
    line-height: 1.5;
}


