@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');

html {
  scroll-behavior: smooth; 
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #000000;
    color: #F2F0EF
}

#page2 {
    background-image: url('images/laptop.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#page3 {
    background-image: url('images/404.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#page4 {
    background-image: url('images/404.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Header */
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 8rem;
}

.logo {
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 600; 
    gap: 0.5rem;
    display: inline-flex;    
    align-items: center;    
    gap: 0.5rem;
}

.logo-icon {
    width: 24px;           
    height: 24px;
    color: white;
    display: block;
}

/* Navigation menu */
.navmenu {
    display: flex;
}

.navmenu a {
    display: inline-block;
    position: relative; 
    margin: 0 1.5rem;
    color: #ffffff;
    font-weight: 500;
    transition: transform 0.65s, color 0.65s;
    font-size: 1rem;
    text-shadow: 
    2px 2px 4px rgba(0, 0, 0, 0.8),
    -2px -2px 4px rgba(0, 0, 0, 0.8),
    2px -2px 4px rgba(0, 0, 0, 0.8),
    -2px 2px 4px rgba(0, 0, 0, 0.8);
}

.navmenu a:hover {
    transform: translateY(-5px);
    color: gold;
    transform: translateY(-5px) scale(1.05); 
}

.navmenu a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;          
    width: 0%;             
    height: 2px;           
    background: gold;
    border-radius: 2px;
    transition: width 0.3s ease;
}
.navmenu a:hover::after {
    width: 100%;                       
}
.navmenu a:active {
    color: orange;
    transform: translateY(0) scale(0.98);
    text-shadow: none;
    transition: transform 0.1s, color 0.1s;
}

.home {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 2rem 5rem 0 10rem;
    gap: 1rem;
}

.home-text h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-family: "Bungee Spice", sans-serif;
    animation: slideDown 1.1s ease-out forwards;
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);     
    }
}

/* Home text h3 */
.home-text h3 {
    position: relative;
    padding-left: 6rem;
    font-weight: 500;
    margin-bottom: 1rem;
    animation: slideDown 1.1s ease-out forwards;
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);     
    }
}

.home-text h3::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 2px;
    background-color: #ffffff;
    left: 0;
    top: 1rem;
    
}

.home-text p {
    margin-bottom: 2rem;
    animation: slideUp 1.1s ease-out forwards;
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(10px); 
    }
    100% {
        opacity: 1;
        transform: translateY(0);   
    }
}

.home-btn {
    animation: slideUp 1.1s ease-out forwards; 
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(10px); 
    }
    100% {
        opacity: 1;
        transform: translateY(0);   
    }
}

/* Buttons */
.btn {
    display: inline-block;
    padding: 0;            
    border: none;          
    background: none;      
    cursor: pointer;
    font-size: 2rem;       
    color: #ffffff;       
    margin-right: 1rem;    
    transition: transform 0.3s;
}

.btn:hover {
    transform: rotate(-10deg) translateY(-5px);
}

#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

/* ------------ABOUT PAGE-------------- */ /* ------------ABOUT PAGE-------------- */ /* ------------ABOUT PAGE-------------- */

.aboutme {
    text-align: center;
    position: relative;
    margin-top: 8rem;
    font-family: "Bungee Spice", sans-serif;
    animation: slideUp 1.1s ease forwards;   
    font-size: 2.5rem;   
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(10px); 
    }
    100% {
        opacity: 1;
        transform: translateY(0);   
    }
}

/* Profile Card */
.profile {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
 background: linear-gradient(
        135deg, 
        rgba(250, 250, 250, 0.2),  
        rgba(240, 240, 240, 0.2)   
); 
    backdrop-filter: blur(10px); 
    border: 1px solid rgba(250, 250, 250, 0.3);
    border-radius: 15px; 
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 3.5rem auto;
    animation: slideUp 1.5s ease forwards;
    
}


@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(10px); 
    }
    100% {
        opacity: 1;
        transform: translateY(0);   
    }
}

.profile-image {
    width: 150px;             
    height: 220px;            
    overflow: hidden;
    border-radius: 10px;      
    flex-shrink: 0;           
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;        
    display: block;
}

.profile-info h2 {
    margin-bottom: 0.625rem;
    color:#FAF9F6
    
}

.profile-info p {
    color:#FAF9F6
    line-height: 1.5;
}

.interest {
    text-align: center;
    font-family: "Nabla", sans-serif;
    animation: slideDown 1.1s ease-out forwards;
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);     
    }
}

.card-container { 
    display: flex;
    gap: 30px;
    max-width: 3000px;
    margin: 30px auto;
    padding: 20px;
}


.card {
    flex: 1;
    padding: 25px;
    background: linear-gradient(
        135deg, 
        rgba(250, 250, 250, 0.2),  
        rgba(240, 240, 240, 0.2)   
); 
    backdrop-filter: blur(10px); 
    border: 1px solid rgba(250, 250, 250, 0.3); 
    border-radius: 15px; 
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease; 
    text-align: center;
    animation: slideDown 1.1s ease-out forwards;
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);     
    }
}

.card-title {
    margin-bottom: 1rem;
    font-weight: bold;
    color:#E0E0E0;

}

.skills-header h1 {
    text-align: center;
    font-size: 2rem;
    font-family: "Nabla", sans-serif;
    margin-top: 5rem;
    animation: slideDown 1.1s ease-out forwards;
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);     
    }
}

.icon-container {
    width: 100%;
    max-width: 1200px;
    margin: 2rem auto;
    padding: 20px;
    border-radius: 15px;
    animation: slideDown 1.1s ease-out forwards;
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);     
    }
}

.icon-grid {
    display: grid;
    grid-template-columns: repeat(8, auto); 
    justify-items: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    object-fit: contain;
    column-gap: 60px;
    row-gap: 40px
}

.icon-grid img {
    width: 60px; 
    height: 60px;
    border-radius: 22px;
    margin: 0;              
    padding: 0;          
    border: none;            
    display: block;
    border: 1px solid #868686;
    transition: transform 0.3s ease-in-out;
    
} 
 
.icon-grid img:hover {
    transform: scale(1.2);
}
.icon-grid img.angular       { background: linear-gradient(135deg, #ff0000, #8b0000); }
.icon-grid img.bash          { background: linear-gradient(135deg, #888888, #000000); }
.icon-grid img.bootstrap     { background: linear-gradient(135deg, #6573c3, #0d1652); }
.icon-grid img.c             { background: linear-gradient(135deg, #b0b0b0, #404040); }
.icon-grid img.csharp        { background: linear-gradient(135deg, #9c27b0, #4a148c); }
.icon-grid img.cpp           { background: linear-gradient(135deg, #0033ff, #00aaff); }
.icon-grid img.css           { background: linear-gradient(135deg, #00ffff, #00bfff, #008bff); }
.icon-grid img.docker        { background: linear-gradient(135deg, #87ceeb, #00bfff, #1e90ff); }
.icon-grid img.git           { background: linear-gradient(135deg, #ffa500, #ff8c00, #ff7f00); }
.icon-grid img.github        { background: linear-gradient(135deg, #fefefe, #f7f7f7, #efefef); }
.icon-grid img.go            { background: linear-gradient(135deg, #00ffff, #00bfff, #008bff); }
.icon-grid img.html          { background: linear-gradient(135deg, #ffd8a6, #ffc080, #ffb266); }
.icon-grid img.java          { background: linear-gradient(135deg, #FDEBD0, #FAD7A0, #AED6F1, #85C1E9); }
.icon-grid img.javascript    { background: linear-gradient(135deg, #fff700, #ffea00, #ffd700); }
.icon-grid img.laravel       { background: linear-gradient(135deg, #ff0000, #cc0000, #990000); }
.icon-grid img.mysql         { background: linear-gradient(135deg, #4B0082, #3A0066, #2E004D); }
.icon-grid img.php           { background: linear-gradient(135deg, #F3E8FF, #E2C6FF, #D1AFFF); }
.icon-grid img.postgresql    { background: linear-gradient(135deg, #E0F7FF, #B3E5FC, #81D4FA); }
.icon-grid img.python        { background: linear-gradient(135deg, #fefefe, #f7f7f7, #efefef); }
.icon-grid img.react         { background: linear-gradient(135deg, #2E2D88, #3B3AA5, #4F4FCC); }
.icon-grid img.redux         { background: linear-gradient(135deg, #E6E6FA, #D8BFD8, #DDA0DD); }
.icon-grid img.ruby          { background: linear-gradient(135deg, #FFC1C1, #FFA6A6, #FF8C8C); }
.icon-grid img.rust          { background: linear-gradient(135deg, #fefefe, #f7f7f7, #efefef); }
.icon-grid img.typescript    { background: linear-gradient(135deg, #87CEEB, #00BFFF, #1E90FF); }

.site-footer {
    text-align: center;
    padding: 20px 0;
    font-family: sans-serif;
    font-size: 0.85rem; 
    color: #888; 
    background-color: transparent; 
}

.site-footer span {
    margin: 0 8px; 
    display: inline-block;
}